<div class="container">
    <div class="row">
		<div class="btn-group btn-group-justified">
                <app-nav-bar-item class="btn-group" title="Find New Songs" routerLink="/youtube" gliphicon="glyphicon-search"></app-nav-bar-item> 
                <app-nav-bar-item class="btn-group" title="Performances" routerLink="/performances" gliphicon="glyphicon-film"></app-nav-bar-item> 
                <app-nav-bar-item class="btn-group" title="Statistics" routerLink="/statistics" gliphicon="glyphicon-stats"></app-nav-bar-item> 
        </div>
	</div>
</div>