<div class="container">
    <div class="row">
		<div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-nav"  routerLink="/youtube"routerLinkActive="active">
                    <span class="glyphicon glyphicon glyphicon-search"></span>
    			    <p>Find New Songs</p>
                </button>
            </div>
            
            <div class="btn-group">
                <button type="button" class="btn btn-nav" routerLink="/performances"routerLinkActive="active">
                    <span class="glyphicon glyphicon-film"></span>
    			    <p>Performances</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" routerLink="/statistics" routerLinkActive="active">
                    <span class="glyphicon glyphicon-time"></span>
    			    <p>Statistics</p>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav" routerLink="/about"routerLinkActive="active">
                    <span class="glyphicon glyphicon-question-sign"></span>
    			    <p>Who Are We?</p>
                </button>
            </div>
        </div>
	</div>
</div>